.form {
  max-width: 600px;
  margin: 0 auto;
}

.nameFieldRow {
  display: flex;
  justify-content: space-between;

  margin: 8px 0;
  gap: 8px;
}

.button {
  margin: 8px 0;
}

.loginUser {
  text-align: center;
  color: rgb(123, 122, 122);
  .login {
    text-decoration: underline;
    color: rgb(0, 85, 255);
  }
}
